<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header clearfix">
        <h1>
            <%= __("Competitions") %>
            <small><%= __("languageLongName-" + language) %></small>
        </h1>
        <div class="header-actions">
            <% if(checkPerms(req, "create", "competitions")) { %>
            <a class="btn btn-success btn-sm" href="/competitions/<%= language %>/new"> <i class="fa fa-edit"></i>
                <span><%= __("Add new") %></span> </a>
            <% } %>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <%- partial('../blocks/modal-destroy.ejs') %>
        <%- partial('../blocks/modal-clone.ejs') %>
        <%- partial('../blocks/server-validation.ejs') %>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover table-sorter" data-csfr="<%= _csrf %>" data-update="/competitions/<%= language %>/sort">
                            <tr>
                                <% if(checkPerms(req, "update", "teasers")) { %>
                                <th><%= __("Sort") %></th>
                                <% } %>
                                <th class="table-status"><%= __("Status") %></th>
                                <th><%= __("Thumbnail") %></th>
                                <th><%= __("Title") %></th>
                                <th class="table-actions"><%= __("Actions") %></th>
                            </tr>
                            <% _.each(competitions, function(competition) { %>
                            <tr class="sortable-item" id="<%= competition.id %>">
                                <% if(checkPerms(req, "update", "competition")) { %>
                                <td class="table-sort-handle enabled">
                                    <span class="sortDone"><i class="fa fa-arrows-v"></i></span>
                                    <span class="sortProgress hideIt"><i class="fa fa-cog fa-spin"></i></span>
                                </td>
                                <% } %>
                                <td class="table-status">
                                        <% if(moment().isAfter(competition.endDate)) { %>
                                    <span class="label label-danger">
                                        <%= __("Archived") %>
                                    </span>
                                        <% } else if(moment().isBefore(competition.endDate) && moment().isAfter(competition.startDate)) { %>
                                    <span class="label label-success">
                                        <%= __("Active") %>
                                    </span>
                                        <% } else if(moment().isBefore(competition.endDate) && moment().isBefore(competition.startDate)) { %>
                                    <span class="label label-info">
                                        <%= __("Planned") %>
                                    </span>
                                        <% } else { %>
                                    <span class="label label-warning">
                                        <%= __("Date not set") %>
                                    </span>
                                        <% } %>
                                </td>
                                <td class="table-thumbnail">
                                    <% if(checkPerms(req, "view", "competitions")) { %>
                                    <a href="/competitions/<%= language %>/<%= competition.slug %>">
                                        <% if(!sails.config.localhost && competition.images[0]) { %>
                                        <img src="/<%= competition.images[0].url %>?dim=220x100"/>
                                        <% } else { %>
                                        <%= __("no image") %>
                                        <% } %>
                                    </a>
                                    <% } else { %>
                                    <% if(!sails.config.localhost && competition.images[0]) { %>
                                    <img src="/<%= competition.images[0].url %>?dim=220x100"/>
                                    <% } else { %>
                                    <%= __("no image") %>
                                    <% } %>
                                    <% } %>
                                </td>
                                <td class="table-title">
                                    <% if(checkPerms(req, "view", "competitions")) { %>
                                    <a href="/competitions/<%= language %>/<%= competition.slug %>"><%= competition.title %></a>
                                    <% } else { %>
                                    <%= competition.title %>
                                    <% } %>
                                </td>
                                <td class="table-actions">
                                    <% if(checkPerms(req, "update", "competitions")) { %>
                                    <a class="btn btn-success btn-sm" href="/competitions/<%= language %>/<%= competition.slug %>?update=true">
                                        <i class="fa fa-edit"></i> <span><%= __("Edit") %></span> </a>
                                    <% } %>

                                    <% if(checkPerms(req, "create", "competitions")) { %>
                                    <a class="btn btn-info btn-sm cloneObj" data-clone="/competitions/<%= language %>/clone/<%= competition.id %>" href="#">
                                        <i class="fa  fa-puzzle-piece"></i> <span><%= __("Clone") %></span> </a>
                                    <% } %>

                                    <% if(checkPerms(req, "delete", "competitions")) { %>
                                    <a class="btn btn-danger btn-sm deleteObj" data-delete="/competitions/<%= language %>/delete/<%= competition.id %>" href="#">
                                        <i class="fa fa-trash-o"></i> <span><%= __("Delete") %></span> </a>
                                    <% } %>
                                </td>
                            </tr>
                            <% }); %>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>


    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->