<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header clearfix">
        <h1>
            <%= __("Permissions") %>
            <small></small>
        </h1>
        <div class="header-actions">
            <% if(checkPerms(req, "create", "permissions")) { %>
            <a class="btn btn-success btn-sm" href="/permissions/new"> <i class="fa fa-edit"></i>
                <span><%= __("Add new") %></span> </a>
            <% } %>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <%- partial('../blocks/modal-destroy.ejs') %>
        <%- partial('../blocks/server-validation.ejs') %>


        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <form action="/permissions/update" method="post">
                            <input type="hidden" name="_csrf" value="<%= _csrf %>">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><%= __("Controller") %></th>
                                    <% _.each(permissions, function(permission) { %>
                                    <input type="hidden" value="placeholder" name="permissions[<%= permission.title %>][placeholder]">
                                    <th>
                                        <% if(checkPerms(req, "update", "permissions") || checkPerms(req, "delete", "permissions")) { %>
                                        <a href="/permissions/<%= permission.slug %>"><%= permission.title %></a>
                                        <% } else { %>
                                        <%= permission.title %>
                                        <% } %>
                                        <small>(view/create/update/delete)</small>
                                    </th>
                                    <% }); %>
                                </tr>
                                </thead>
                                <% _.each(_.without(Object.keys(sails.controllers), 'session'), function(controller) { %>
                                <tr>
                                    <td>
                                        <%= controller %>
                                    </td>

                                    <% _.each(permissions, function(permission) { %>
                                    <td>
                                        <input <%= _.contains(permission.view, controller) ? "checked" : "" %> type="checkbox" value="<%= controller %>" name="permissions[<%= permission.title %>][view]" <%= checkPerms(req, "update", "permissions") ? "" : "disabled" %>>
                                        <input <%= _.contains(permission.create, controller) ? "checked" : "" %> type="checkbox" value="<%= controller %>" name="permissions[<%= permission.title %>][create]" <%= checkPerms(req, "update", "permissions") ? "" : "disabled" %>>
                                        <input <%= _.contains(permission.update, controller) ? "checked" : "" %> type="checkbox" value="<%= controller %>" name="permissions[<%= permission.title %>][update]" <%= checkPerms(req, "update", "permissions") ? "" : "disabled" %>>
                                        <input <%= _.contains(permission.delete, controller) ? "checked" : "" %> type="checkbox" value="<%= controller %>" name="permissions[<%= permission.title %>][delete]" <%= checkPerms(req, "update", "permissions") ? "" : "disabled" %>>
                                    </td>
                                    <% }); %>
                                </tr>
                                <% }); %>
                            </table>

                            <input class="btn btn-primary" type="submit" value="Submit">
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>


    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->