<header class="header">
    <!-- header logo: style can be found in header.less -->
    <a href="/" class="logo" title="<%= __("Return to dashboard") %>">
        <img src="/images/logo_osp_neg.png" alt="Ochsnersport Club logo"/> </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only"><%= __("Toggle navigation") %></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span> <span class="icon-bar"></span> </a>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-user"></i>
                        <span><%= session.Admin.name %> <%= session.Admin.surname %> <i class="caret"></i></span> </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="http://www.gravatar.com/avatar/<%= session.gravatar %>" class="img-circle"/>

                            <p>
                                <%= session.Admin.name %> <%= session.Admin.surname %> - <%= session.Admin.role %>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/admins/<%= session.Admin.username %>"
                                   class="btn btn-default btn-flat"><%= __("Profile") %></a>
                            </div>
                            <div class="pull-right">
                                <a href="/logout" class="btn btn-default btn-flat"><%= __("Log out") %></a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>